html {
  background-color: $bg-html-color;
  scrollbar-width: none;
}
  
body {
  width:70%;
  position: absolute;
  top:10%;
  left:15%;
  margin-bottom: 10%;
  padding-bottom:2%;
  border: 3px solid $font-color-primary;
  box-shadow: 0 4px darken($font-color-primary, 10);
  border-radius: 20px;
  &::-webkit-scrollbar {
    display: none;
  }
  background-color: $bg-body-color;
}