html {
  font-family: "Tahoma", sans-serif;
  color: $font-color-primary;  
  @media (max-width: $mobile-width) {
    font-size: 3px;
  }
  @media (min-width: $mobile-width) {
    font-size: 8px;
  }
  @media (min-width: $tablet-width) {
    font-size: 12px;
  }
  @media (min-width: $desktop-width) {
    font-size: 16px;;
  }
}

.keyboard__button {
  font-weight: 900;
}

.keyboard-button__main-key{
  position: relative;
  right: 0.325rem;
}

.keyboard-button__additional-key {
  font-weight: 500;
  font-size: 0.75rem;
  position: relative;
  bottom: 25%;
  right:25%;
  padding-left: 0.5rem;
}