$font-color-primary: #6e5657;
$bg-html-color: #e3e3e3;
$color-secondary: #5b3a29;
$color-secondary-darken: darken($color-secondary, 10);
$bg-key-color: #f5f1eb;
$border-key-color: darken($bg-key-color, 5);
$bg-key-color-secondary: #fff4de;
$keyboard-shadow: #292929;
$bg-body-color: beige;