.keyboard {
  margin: 2.5% auto 0 auto;
  padding: 1%;
  width: 80%;
  text-align: center;
  background: radial-gradient($color-secondary, $color-secondary-darken);
  border: 3px solid $font-color-primary;
  box-shadow: 0 5px $keyboard-shadow;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:10px;
}
  
.keyboard__key-row {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
  
.keyboard__button {
  background-color: $bg-key-color;
  border: 2px solid $border-key-color;
  border-radius: 5px;
  box-shadow: 0 4px darken($border-key-color, 10);
  transition: ease-in-out $transition-time-hover;
  cursor: pointer;
  height: 5vh;
  width: calc(100% / 17.5);
}

.keyboard__button_secondary,
.keyboard__button_backspace,
.keyboard__button_arrow,
.keyboard__button_windows,
.keyboard__button_spacebar,
.keyboard__button_tab {
  background-color: $bg-key-color-secondary;
  border-color: $bg-key-color-secondary;
}

.keyboard__button_secondary,
.keyboard__button_backspace {
  flex-grow: 1;
}

.keyboard__button_backspace {
  flex-basis: 20%;
}

.keyboard__button_spacebar {
  flex: 0 0 40%;
}

.keyboard__button_arrow {
  align-self: flex-end;
}

.keyboard__button_tab {
  flex-basis: 10%;
  i {
      margin-right: 0.5rem;
  }
}

#btn-up-arrow {
  margin-left: 2.5%;
  margin-right: calc(100% / 17.5 + 5px);
}

.keyboard__button:hover,
.keyboard__button:active,
.keyboard__button_active {
  background-color: $border-key-color;
  border-color: $border-key-color;
}

.keyboard__button_active,
.keyboard__button:active {
  position: relative;
  top: 2px;
  box-shadow: 0 1px darken($border-key-color, 10);
  transition-duration: $transition-time-click;
}
  