<div class="keyboard">
  <div class="keyboard__key-row">
    <button
      class="keyboard__button keyboard__button_secondary"
      data-keyCode="Backquote"
    >
      <span class="keyboard-button__additional-key">~</span>
      <span class="keyboard-button__main-key">`</span>
    </button>
    <button class="keyboard__button">
      <span class="keyboard-button__additional-key">!</span>
      <span class="keyboard-button__main-key">1</span>
    </button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button">
      <span class="keyboard-button__additional-key">%</span>
      <span class="keyboard-button__main-key">5</span>
    </button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button">
      <span class="keyboard-button__additional-key">*</span>
      <span class="keyboard-button__main-key">8</span>
    </button>
    <button class="keyboard__button">
      <span class="keyboard-button__additional-key">(</span>
      <span class="keyboard-button__main-key">9</span>
    </button>
    <button class="keyboard__button">
      <span class="keyboard-button__additional-key">)</span>
      <span class="keyboard-button__main-key">0</span>
    </button>
    <button class="keyboard__button" data-keyCode="Minus">
      <span class="keyboard-button__additional-key">_</span>
      <span class="keyboard-button__main-key">-</span>
    </button>
    <button class="keyboard__button" data-keyCode="Equal">
      <span class="keyboard-button__additional-key">+</span>
      <span class="keyboard-button__main-key">=</span>
    </button>
    <button
      class="keyboard__button keyboard__button_backspace"
      data-keyCode="Backspace"
    >
      <span class="keyboard-button__main-key">Backspace</span>
      <i class="fas fa-backspace"></i>
    </button>
  </div>
  <div class="keyboard__key-row">
    <button class="keyboard__button keyboard__button_tab" data-keyCode="Tab">
      <i class="fas fa-indent"></i>
      <span class="keyboard-button__main-key">Tab</span>
    </button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button" data-keyCode="BracketLeft"></button>
    <button class="keyboard__button" data-keyCode="BracketRight"></button>
    <button class="keyboard__button" data-keyCode="Backslash"></button>
    <button
      class="keyboard__button keyboard__button_secondary"
      data-keyCode="Delete"
    >
      Del
    </button>
  </div>
  <div class="keyboard__key-row">
    <button
      class="keyboard__button keyboard__button_secondary"
      data-keyCode="CapsLock"
    >
      Caps Lock
    </button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button" data-keyCode="Semicolon"></button>
    <button class="keyboard__button" data-keyCode="Quote"></button>
    <button
      class="keyboard__button keyboard__button_secondary"
      data-keyCode="Enter"
    >
      <span class="keyboard-button__main-key">Enter</span>
      <i class="fas fa-level-down-alt fa-rotate-90"></i>
    </button>
  </div>
  <div class="keyboard__key-row">
    <button
      class="keyboard__button keyboard__button_secondary"
      data-keyCode="ShiftLeft"
    >
      Shift
    </button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button"></button>
    <button class="keyboard__button" data-keyCode="Comma"></button>
    <button class="keyboard__button" data-keyCode="Period"></button>
    <button class="keyboard__button" data-keyCode="Slash"></button>
    <button
      class="keyboard__button keyboard__button_secondary"
      data-keyCode="ShiftRight"
    >
      Shift
    </button>
    <button
      id="btn-up-arrow"
      class="keyboard__button keyboard__button_arrow"
      data-keyCode="ArrowUp"
    >
      ▲
    </button>
  </div>
  <div class="keyboard__key-row">
    <button
      class="keyboard__button keyboard__button_secondary"
      data-keyCode="ControlLeft"
    >
      Ctrl
    </button>
    <button
      class="keyboard__button keyboard__button_windows"
      data-keyCode="LangSwitch"
    >
      <i class="fas fa-language"></i>
    </button>
    <button
      class="keyboard__button keyboard__button_secondary"
      data-keyCode="AltLeft"
    >
      Alt
    </button>
    <button
      class="keyboard__button keyboard__button_spacebar"
      data-keyCode="Space"
    ></button>
    <button
      class="keyboard__button keyboard__button_secondary"
      data-keyCode="AltRight"
    >
      Alt
    </button>
    <button
      id="btn-right-ctrl"
      class="keyboard__button keyboard__button_secondary"
      data-keyCode="ControlRight"
    >
      Ctrl
    </button>
    <button
      id="btn-left-arrow"
      class="keyboard__button keyboard__button_arrow"
      data-keyCode="ArrowLeft"
    >
      ◀
    </button>
    <button
      class="keyboard__button keyboard__button_arrow"
      data-keyCode="ArrowDown"
    >
      ▼
    </button>
    <button
      class="keyboard__button keyboard__button_arrow"
      data-keyCode="ArrowRight"
    >
      ▶
    </button>
  </div>
</div>
